<h2>Songs by
    <%=@artist.name%>:</h2>

<ul>
    <%@artist.songs.each do |song| %>
    <li>
        <a href="/songs/<%= song.slug%>"><%= song.name%></a>
    </li>
    <% end %>
</ul>
<br>
<h3>
    <a href="/artists/<%=@artist.slug%>/add_song">Add a song</a>
    to
    <%=@artist.name%>.
</h3>

<h3>Back to
    <a href="/">my library</a>
</h3>

<h3>Back to
    <a href="/artists">all artists</a>
</h3>
