<div class="flash">
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
</div>

<ul>
  <% @songs.each do |song| %>
    <!-- <h2><li>"<%= song.name%>" by <%= song.artist.name%></li></h2> -->
    <h3><a href="/songs/<%= song.slug%>">"<%= song.name%>"</a> by <%= song.artist.name%></h3>

  <% end %>
</ul>

<h3>Back to <a href="/">my library</a>.</h3>
